DB_USER=livramente_db_user
DB_PASS=livramente_db_pass
DB_URL=mongodb+srv://cluster0.example.mongodb.net/livramente?retryWrites=true&w=majority
PORT=3001
RABBITMQ_URL=amqps://usuario:senha@seu-host.cloudamqp.com/seu-vhost