@import "tailwindcss";

:root {
  /* Black and White */
  --foreground: #000000;
  --background: #FFFFFF;

  /* Primary Color Palette */
  --primary-100: #E5EEDF;
  --primary-200: #CADDBF;
  --primary-300: #B0CC9E;
  --primary-400: #95BB7E;
  --primary-500: #7BAA5E;
  --primary-600: #5C8046;
  --primary-700: #3D552F;
  --primary-800: #1F2A17;

  /* Secondary Color Palette */
  --secondary-100: #E8DDD4;
  --secondary-200: #D2BCAA;
  --secondary-300: #BB9A7F;
  --secondary-400: #A57955;
  --secondary-500: #8E572A; 
  --secondary-600: #6A411F;
  --secondary-700: #472B15;
  --secondary-800: #23160A;

  /* Tertiary Color Palette */
  --tertiary-100: #F1D4C3;
  --tertiary-200: #E3A988;
  --tertiary-300: #D67F4D;
  --tertiary-400: #C85412;
  --tertiary-500: #AC3A14;
  --tertiary-600: #812C0F;
  --tertiary-700: #561D0A;
  --tertiary-800: #2B0F05;

  /* Success Color Palette */
  --success-100: #E8F4DC;
  --success-200: #D8EBC5;
  --success-300: #B1D78A;
  --success-400: #8BC551;
  --success-500: #64B117;
  --success-600: #4B8511;
  --success-700: #32580B;
  --success-800: #192C06;

  /* Error Color Palette */
  --error-100: #F4E1DC;
  --error-200: #EBCCC5;
  --error-300: #D89A8B;
  --error-400: #C56851;
  --error-500: #B13617;
  --error-600: #8D3019;
  --error-700: #682A1B;
  --error-800: #42231C;

  /* Warning Color Palette */
  --warning-100: #FBEDDF;
  --warning-200: #F8E1C9;
  --warning-300: #F0C392;
  --warning-400: #EAA65D;
  --warning-500: #E28726;
  --warning-600: #AA661D;
  --warning-700: #714413;
  --warning-800: #39220A;

  /* Information Color Palette */
  --information-100: #E4ECF9;
  --information-200: #D2DFF4;
  --information-300: #A5BFE9;
  --information-400: #79A0DF;
  --information-500: #4D80D4;
  --information-600: #39609F;
  --information-700: #26406A;
  --information-800: #132035;

  /* Neutral Color Palette */
  --neutral-100: #ECEDEE;
  --neutral-200: #D0D1D4;
  --neutral-300: #A1A4AA;
  --neutral-400: #737780;
  --neutral-500: #444955;
  --neutral-600: #333740;
  --neutral-700: #22252B;
  --neutral-800: #111215;

  /* Fontes */
  --font-poppins: 'Poppins', sans-serif;
  --font-judson: 'Judson', serif;

  /* Standard Font Sizes */
  --body-1-font-size:   20px;
  --body-2-font-size:   16px;
  --body-3-font-size:   12px;

  --heading-1-font-size:   60px;
  --heading-2-font-size:   48px;
  --heading-3-font-size:   40px;
  --heading-4-font-size:   32px;
  --heading-5-font-size:   24px;
  --heading-6-font-size:   20px;
  
  /* Standard Line Heights */
  --body-1-line-height: 28px;
  --body-2-line-height: 22px;
  --body-3-line-height: 16px;

  --heading-1-line-height: 72px;
  --heading-2-line-height: 56px;
  --heading-3-line-height: 48px;
  --heading-4-line-height: 40px;
  --heading-5-line-height: 28px;
  --heading-6-line-height: 24px;

  /* Standard Font Weights */
  --regular-font-weight:  400;
  --semibold-font-weight: 600;
  --bold-font-weight:     800;

  /* Standard Padding Values */
  --extra-small-padding:  12px;
  --small-padding:        16px;
  --medium-padding:       20px;
  --large-padding:        24px;

  /* Border Radius */
  --no-border-radius:     0px;
  --small-border-radius:  4px;
  --medium-border-radius: 8px;
  --large-border-radius:  12px;

  /* Border Width */
  --no-border-width:      0px;
  --small-border-width:   1px;
  --medium-border-width:  2px;
  --large-border-width:   4px;

}

/* Temas Padrão */
.light-neutral {
  background: var(--background);
  color:      var(--secondary-800);
}

.light-green {
  background: var(--primary-300);
  color:      var(--primary-800);
}

.dark-green {
  background: var(--primary-700);
  color:      var(--primary-100);
}

.light-brown {
  background: var(--secondary-100);
  color:      var(--secondary-700);
}

.dark-brown {
  background: var(--secondary-700);
  color:      var(--secondary-100);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Estilos de Texto */
.text-b1 {
  font-family:      var(--font-poppins);
  text-align:       left;
  font-size:        var(--body-1-font-size);
  line-height:      var(--body-1-line-height);
  font-weight:      var(--regular-font-weight);
  text-decoration:  none;
  font-style:       normal;
}

.text-b2 {
  font-family:      var(--font-poppins);
  text-align:       left;
  font-size:        var(--body-2-font-size);
  line-height:      var(--body-2-line-height);
  font-weight:      var(--regular-font-weight);
  text-decoration:  none;
  font-style:       normal;
}

.text-b3 {
  font-family:      var(--font-poppins);
  text-align:       left;
  font-size:        var(--body-3-font-size);
  line-height:      var(--body-3-line-height);
  font-weight:      var(--regular-font-weight);
  text-decoration:  none;
  font-style:       normal;
}

.body-underline {
  font-weight:      var(--regular-font-weight);
  text-decoration:  underline;
  font-family:      var(--font-poppins);
  font-style:       normal;
}

.body-semibold {
  font-weight:      var(--semibold-font-weight);
  text-decoration:  none;
  font-family:      var(--font-poppins);
  font-style:       normal;
}

.body-quotation {
  font-weight:      var(--regular-font-weight);
  text-decoration:  none;
  font-family:      var(--font-judson);
  font-style:       italic;
}

.text-h1 {
  font-size:    var(--heading-1-font-size);
  line-height:  var(--heading-1-line-height);
  font-weight:  var(--bold-font-weight);
  font-family:  var(--font-poppins);
  text-align:   left;
}

.text-h2 {
  font-size:    var(--heading-2-font-size);
  line-height:  var(--heading-2-line-height);
  font-weight:  var(--bold-font-weight);
  font-family:  var(--font-poppins);
  text-align:   left;
}

.text-h3 {
  font-size:    var(--heading-3-font-size);
  line-height:  var(--heading-3-line-height);
  font-weight:  var(--bold-font-weight);
  font-family:  var(--font-poppins);
  text-align:   left;
}

.text-h4 {
  font-size:    var(--heading-4-font-size);
  line-height:  var(--heading-4-line-height);
  font-weight:  var(--bold-font-weight);
  font-family:  var(--font-poppins);
  text-align:   left;
}

.text-h5 {
  font-size:    var(--heading-5-font-size);
  line-height:  var(--heading-5-line-height);
  font-weight:  var(--bold-font-weight);
  font-family:  var(--font-poppins);
  text-align:   left;
}

.text-h6 {
  font-size:    var(--heading-6-font-size);
  line-height:  var(--heading-6-line-height);
  font-weight:  var(--bold-font-weight);
  font-family:  var(--font-poppins);
  text-align:   left;
}

.heading-underline {
  text-decoration:  underline;
}

/* Buttons & Inputs*/
button {
  justify-content:  center;
  align-items:      center;
  margin:           0px;
  border-width:     var(--no-border-width);
  flex-direction:   row;
  gap:              8px;
  display:          inline-flex;
}

input {
  justify-content:  center;
  align-items:      center;
  margin:           0px;
  border-width:     var(--small-border-width);
  flex-direction:   row;
  gap:              8px;
  display:          inline-flex;
}
  
.small-box {
  padding:        8px var(--small-padding);
  border-radius:  var(--small-border-radius);
}

.medium-box {
  padding:        8px var(--medium-padding);
  border-radius:  var(--medium-border-radius);
}

.large-box {
  padding:        8px var(--large-padding);
  border-radius:  var(--large-border-radius);
}

button.textless-small {
  padding:        var(--extra-small-padding);
  border-radius:  var(--small-border-radius);
}

button.textless-medium {
  padding:        var(--small-padding);
  border-radius:  var(--medium-border-radius);
}

button.textless-large {
  padding:        var(--small-padding);
  border-radius:  var(--large-border-radius);
}

.icon-small {
  width:  16px;
  height: 16px;
}

.icon-medium {
  width:  24px;
  height: 24px;
}

.icon-large {
  width:  40px;
  height: 40px;
}
